// Variables
$color: rgb(31, 31, 31);
$speed: "0.45s";
$transition: all #{$speed} cubic-bezier(0.31, -0.105, 0.43, 1.4);

a.button {
  text-decoration: none;
}

.button {
  display: block;
  background-color: $color;
  height: 64px;
  line-height: 64px;
  margin: auto;
  outline: none;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  transition: $transition;
  display: flex;
  flex-wrap: nowrap;

  box-shadow: rgba(0, 0, 0, 0.004) 0px 0.783403px 0.783403px 0px,
    rgba(0, 0, 0, 0.01) 0px 1.92107px 1.92107px 0px,
    rgba(0, 0, 0, 0.024) 0px 3.63429px 3.63429px 0px,
    rgba(0, 0, 0, 0.04) 0px 6.35486px 6.35486px 0px,
    rgba(0, 0, 0, 0.07) 0px 11.0474px 11.0474px 0px,
    rgba(0, 0, 0, 0.125) 0px 20.2497px 20.2497px 0px,
    rgba(0, 0, 0, 0.25) 0px 40px 40px 0px;

  span,
  .icon,
  .icon2 {
    display: block;
    height: 100%;
  }

  span {
    flex: 0 1 calc(100% - 100px);
    width: calc(100% - 120px);
    overflow: hidden;
    line-height: inherit;
    font-size: 18px;
    font-weight: bold;
    left: 0;
    transition: $transition;
    transform: translateX(10%);
  }

  .icon {
    flex: 0 1 60px;
    width: 60px;
    transition: $transition;
    transform: translateX(40%);
  }

  .icon2 {
    flex: 0 1 40px;
    width: 40px;
    transition: $transition;
    transform: translateX(100%);
  }

  .icon img {
    margin-top: 18px;
  }

  .icon2 img {
    margin-top: 18px;
  }

  .button-logo {
    filter: invert(99%) sepia(23%) saturate(971%) hue-rotate(198deg)
      brightness(112%) contrast(100%);
    width: 28px;
  }

  .button-more {
    filter: invert(99%) sepia(23%) saturate(971%) hue-rotate(198deg)
      brightness(112%) contrast(100%);
    width: 28px;
  }

  &:hover {
    span {
      transform: translateX(-26%);
      transition-delay: 0.1s;
    }
    .icon {
      transform: translateX(-100%);
    }
    .icon2 {
      transform: translateX(-50%);
      transition-delay: 0.2s;
    }
  }
}
